@import 'node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




.s-four-ots {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: calc((100% - 48px) / 3);
}

.s-four-ots:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.s-four-overlay {
    position: relative;
    overflow: hidden;
}

.footer > .container {
    display: flex;
    align-items: baseline;
}

.log-p-footer {
    margin-right: 120px;
}

.s-four-overlay-p {
    position: absolute;
    top: 0; 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.s-four-ots:hover .s-four-overlay-p {
    transform: translateY(0%);
}


.footer-sl-text {
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: #FFFFFF;
margin-bottom: 16px;
}

.footer-sl-ul {
    display: flex;
    gap: 16px;
}

.footer-sl-ul-li {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 40px;
    height: 40px;
}



.footer-sl-ul-li-a {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-sl-ul-li-a:hover{
    background-color: #31d0aa;
}

.footer-sl-ul-li-a:focus {
    background-color: #31d0aa;
}

.footer-sl-ul-li-svg {
    fill:#f4f4fd;
}


body {

    color: #434455;
    font-size: 16px;
    font-family: "Roboto", serif;
    background-color: #FFFFFF;
    letter-spacing: 0.02em;
}

.s-three-ul-otc {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.s-three-li-sl {
    min-width: 40px;
    height: 40px;
}

.s-three-a-sl:hover {
    background-color: #404bbf;
}

.s-three-a-sl:focus {
    background-color: #404bbf;
}

.s-three-a-sl {
    width: 16px;
    height: 16px;
    fill:#f4f4fd;
}

.iconsvg-three {
    width: 16px;
    height: 16px;
}

.s-three-a-sl {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.s-two-svg {
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F4FD;
    border: 1px solid #8E8F99;
    height: 112px;
    width: 264px;
    border-radius: 4px;
}

.s-three-sl {
    margin-bottom: 8px;
    padding-top: 16px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-four > .container {
    display: flex;
    flex-direction: column;
}

.section-three > .container {
    display: flex;
    flex-direction: column;
}

.footer > .container {
    display: flex;
}

.header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid #e7e9fc;
}

.header > .container {
    display: flex;
    align-items: center;
}


img {
    display: block;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

.f2a {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    font-style: normal;
    font-family: "Roboto", serif;
    text-decoration: none;
    text-transform: none;
    color: #434455;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}


.navheader {
    align-items: center;
    display: flex;
}

.liah {
    
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: black;
    text-decoration: none;
    display: block;
    padding: 24px 0;
}

.liahchoosen {
    position: relative;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-decoration: none;
    display: block;
    padding: 24px 0;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.liahchoosen::after {
 content: '';
 width: 100%;
 position: absolute;
 left: 0;
 bottom: -1px; 
 height: 4px;   
 background-color: #404bbf; 
 border-radius: 2px;

}

.addresshead {
display: flex;
gap: 40px;

}

.container > .navheader {
    margin-right: auto;
}

.fleader {
    gap: 40px;  
    display: flex;
}

.fleaderdva {  
    color: #434455;
    gap: 40px;
    display: flex;
}

.logoheader {
    font-size: 18px;
    text-decoration: none;
    margin-right: 76px;
    font-weight: 700;
    font-family: "Raleway", serif;
    color: #4D5AE5;
}

.logoheader2 {
    color: black;
}

ul {
    list-style: none;
    }


.section-one {
    margin: 0 auto;
    max-width: 1440px;
    padding: 188px 0;
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/backgroundjpg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-one > .container {
    display: flex;
    flex-direction: column;
}

.section-one-mtext {
    
    margin: 0 auto 48px;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    max-width: 496px;
}

.section-one-button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto ;
    display: block;
    cursor: pointer;
    height: 56px;
    min-width: 169px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px 0px #00000026;
    color: #FFFFFF;
    background-color: #4D5AE5;
}

.s-three-div-a {
    margin-bottom: 8px;
}

.section-three { 
    padding: 120px 0;
    background-color: #F4F4FD;
}

.s-three-h{
    color: #2E2F42;
    margin-bottom: 72px;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    
}

.s-three-ul {
    gap: 24px;
    display: flex;
}

.s-four-p {
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
color: #434455;
}


.s-two-p {
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
   
    text-align: left;
    color: #434455;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.section-two {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
padding: 120px 0;
}

.s-two-li {
    width: calc((100% - 72px) / 4);
}

.s-two-hdva {
    color: #2E2F42;
    font-family: "Roboto", serif;
   
    line-height: 1.2;
    margin-bottom: 8px;
}

.s-two-ul {
    gap: 24px;
    display: flex;
}

.s-three-p {
font-family: Roboto;
font-weight: 400;
line-height: 24px;
text-align: center;
}

.s-three-otctext {
    padding: 32px 0;
    font-size: 400;
}

.s-three-h-otc {
    color: #2E2F42;
    font-family: "Roboto", serif;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 8px
}

.s-four-h-tri {
    color: #2E2F42;
    font-family: "Roboto", serif;
   
    line-height: 1.2;
    margin-bottom: 8px
}

.s-four-otctext {
    border: 1px solid #e7e9fc;
    padding: 32px 16px;
    font-size: 400;
    border-top: none;
}

.s-three-ots {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
    background-color: #FFFFFF;
}



.s-four-h {
    text-align: center;
    font-size: 36px;
    color: #2E2F42;
    font-family: "Roboto", serif;
   
    line-height: 1.2;
    margin-bottom: 72px;
}

.s-four-ul {
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
    display: flex;
}

.ftext {
    padding-top: 100px;
    padding-left: 150px;
    width: 264px;
}

.ftext > p {
color: #FFFFFF;

}


.logofooter-s {
    color: #FFFFFF;
}

.footer {
    padding: 100px 0;
    background-color: #2E2F42;
}

.p-footer {
font-family: Roboto;
font-weight: 400;
line-height: 24px;
text-align: left;
    max-width: 264px;
    color: #FFFFFF;
}

.section-four {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
    padding-top: 120px; 
    padding-bottom: 120px;
}

.logofooter  {
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
    font-weight: 700;
    font-family: "Raleway", serif;
    color: #4D5AE5;
}

.footer > .container {
    display: flex;
}

.container > .logofooter {
    display: block;
}

/* lesson 5*/
/*Overlay sections*/

.overlay-window {
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #2E2F4266;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0;
    pointer-events: none;
}

.overlay-window.is-open {
    opacity: 1;
    pointer-events: auto;
}

.s-one-overlay {
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 50%;
    left: 50%;
    position: absolute;
    box-shadow: 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001F, 0px 2px 1px 0px #00000033;
    background-color: #FCFCFC ;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
}

.s-one-overlay-close {
    display: flex; 
    align-items: center; 
    justify-content: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 24px;
    right: 24px;
    margin: 0 0 0 auto;
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border: 1px solid #0000001A;
    border-radius: 50%;
}

.s-one-overlay-close:hover {
    background-color: #404bbf;
    border: none;
}

.s-one-overlay-close:focus {
    background-color: #404bbf;
    border: none;
}

.svg-overlay {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.s-one-overlay-close:hover .svg-overlay {
    fill: #ffffff
}

.s-one-overlay-close:focus .svg-overlay {
    fill: #ffffff
}

.s-one-overlay-text {
    margin-bottom: 16px;
    
color:#2E2F42 ;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: center;
}

.s-one-overlay-form-textarea {
    width: 360px;
 resize: none;
}

.label-one {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block; 
    margin-bottom: 4px;
    display: block;
    flex-direction: column;
}

.s-one-overlay-form-div {
    margin-bottom: 8px;
}

.s-one-overlay-form-div-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:#8e8f99;
    display: block;
    margin-bottom: 4px; 

}

.s-one-overlay-form-textnicon {
    position: relative;

}

.s-one-overlay-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px; 
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.s-one-overlay-form-input:focus {
    border-color: #4D5AE5; 
} 

.s-one-overlay-form-input:focus + .s-one-overlay-form-input-svg {
    fill: #4D5AE5;
 }

.s-one-overlay-form-input-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    fill: #2E2F42;
}



.s-one-overlay-form-div-textarea {
    margin-bottom: 16px;

}


.s-o-o-f-d-ta {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent; 
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.s-o-o-f-d-ta:focus {
    border-color: #4D5AE5;
}

.s-one-overlay-form-div-checkbox {
    margin-bottom: 24px;
}

.s-one-overlay-form-div-label-dva {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:#8e8f99;
    display: block;

}



.s-one-overlay-input-checkbox:checked + .s-one-overlay-form-div-label-dva > .overlay-accept-checkbox {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD
;
  }

.overlay-accept-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    fill: transparent;
}

.overlay-a-checkbox {
    color: #4d5ae5; 
}

.send-commnet-button-overlay {
    display: block;
    margin: 0 auto;
    box-shadow: 0px 4px 4px 0px #00000026;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.s-one-overlay-form-input:focus > .s-one-overlay-form-input-svg {
  
}

/*Footer form*/

.footer-f {
    margin-left: 80px;
}

.footer-f-p {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.footer-form {
    display: flex;
}

.footer-form{
    gap: 24px;
}

.footer-form-label-input{
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; 
    color: #ffffff;
}

.footer-form-label-input::placeholder {
    color: #ffffff; 
}

.footer-form-button {
min-width: 165px; 
height: 40px; 
display: flex; 
justify-content: center; 
align-items: center; 
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em; 
color: #ffffff;
cursor: pointer;
background-color: #4D5AE5;
border: none; 
border-radius: 4px; 
}

.footer-form-button-svg {
    fill: #ffffff;
    margin-left: 16px; 
}