@import 'node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


img {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    }

    body {

        color: #434455;
        font-size: 16px;
        font-family: "Roboto", serif;
        background-color: #FFFFFF;
        letter-spacing: 0.02em;
    }

    a {
        text-decoration: none;
    }

    button {
        cursor: pointer;
    }

    /*common styles*/

    .container {
        max-width: 320px;
        margin: 0 auto;
        padding: 0 16px;
    }
    /*Tab*/

    @media screen and (min-width: 768px) {
        
        .container {
            max-width: 768px;
        }

    }
    /*PC*/

    @media screen and (min-width: 1158px) {
        
        .container {
            max-width: 1158px;
        }

    }

    /*Header*/

    .header {
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
        border-bottom: 1px solid #e7e9fc;
      }

      .header > .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .fleader, .fleaderdva {
        display: none;
      }

      .logoheader {
        padding: 16px 0;
        font-size: 18px;
        text-decoration: none;
        font-weight: 700;
        font-family: "Raleway", serif;
        color: #4D5AE5;
        display: block;
    }

    .logoheader2 {
        color: black;
    }

    .mobilemenubutton {
        background: none;
        border: none;
    }

    .momsvgbutton {
        fill: #2F2F37;
        display: block;
    }

    .liah {
    
        font-family: Roboto;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        color: black;
        text-decoration: none;
        display: block;
        padding: 24px 0;
    }

    .liahchoosen {
        position: relative;
        font-family: Roboto;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        text-decoration: none;
        display: block;
        padding: 24px 0;
        color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .liahchoosen::after {
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px; 
        height: 4px;   
        background-color: #404bbf; 
        border-radius: 2px;
       
       }

       .f2a {
        color: #434455;
        font-size: 12px;
       }

    /*Tab*/

    @media screen and (min-width: 768px) {

        .header > .container {
            justify-content: baseline;
        }

        .container > .navheader {
            margin-right: auto;
        }
        
        .mobilemenubutton {
            display: none;
        }

        .fleader {
            gap: 40px;  
            display: flex;
            align-items: center;
        }

        .fleaderdva {  
            color: #434455;
            gap: 12px;
            display: flex;
            flex-direction: column;
            font-style: normal;
        }


        .logoheader {
            padding: 24px 0;
            margin-right: 120px ;
        }

        .f2a {
            font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 4%;

        }
    
    }

    @media screen and (min-width: 1158px) { 

        .logoheader {
            margin-right: 76px;
        }

        .fleaderdva {
            flex-direction: row;
            gap: 40px;
        }

        .f2a {
            font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;

        }

    }

    /*Mobile Menu*/


    @media screen and (min-width: 768px) {
        .mom{
        display: none;
    }
}

.mom {
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #ffffff;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0;
    pointer-events: none;
}

.mom.is-open {
    opacity: 1;
    pointer-events:auto;
}

.mom-close {
    display: flex; 
    align-items: center; 
    justify-content: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 24px;
    right: 24px;
    margin: 0 0 0 auto;
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    border: 1px solid #0000001A;
    border-radius: 50%;
}

.mom-inside {
    height: 100vh;
    padding: 48px 0;
   position: relative ;
   display: flex;
   flex-direction: column;
}

.momul {
    display: flex;
    gap: 40px;
}

.mom-pages {
    margin-bottom: auto;
}

.mom-pages-ul {
    gap: 40px;
    display: flex;
    flex-direction: column;
}

.mom-pages-ul-li {
    font-family: Roboto;
font-weight: 700;
font-size: 36px;
line-height: 40px;
letter-spacing: 2%;
text-decoration: none;
color: #2E2F42;;
}

#li-choosen {
    color: #404BBF;
    ;
}

.mom-contacts-ul {
   margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mom-contacts-ul-li {
   
font-family: Roboto;
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 2%;
text-decoration: none;
color: #2E2F42;

}

.mom-contacts-ul-li-blue {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2%;
    text-decoration: none;
    color: #404BBF;
    
    }

    .s-three-ul-otc {
        margin-top: 16px;
        display: flex;
        justify-content: center;
        gap: 24px;
    }
    
    .s-three-li-sl {
        min-width: 40px;
        height: 40px;
    }
    
    .s-three-a-sl:hover {
        background-color: #404bbf;
    }
    
    .s-three-a-sl:focus {
        background-color: #404bbf;
    }
    
    .s-three-a-sl {
        width: 16px;
        height: 16px;
        fill:#f4f4fd;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    /*Overlay Section*/

    .overlay-window {
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background-color: #2E2F4266;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    
        opacity: 0;
        pointer-events: none;
    }
    
    .overlay-window.is-open {
        opacity: 1;
        pointer-events: auto;
    }
    
    .s-one-overlay {
        transform: translate(-50%, -50%);
        padding: 72px 24px 24px 24px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        top: 50%;
        left: 50%;
        position: absolute;
        box-shadow: 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001F, 0px 2px 1px 0px #00000033;
        background-color: #FCFCFC ;
        width: 288px;
        min-height: 584px;
        border-radius: 4px;
    }
    
    .s-one-overlay-close {
        display: flex; 
        align-items: center; 
        justify-content: center;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        position: absolute;
        top: 24px;
        right: 24px;
        margin: 0 0 0 auto;
        width: 24px;
        height: 24px;
        background-color: #E7E9FC;
        border: 1px solid #0000001A;
        border-radius: 50%;
    }
    
    .s-one-overlay-close:hover {
        background-color: #404bbf;
        border: none;
    }
    
    .s-one-overlay-close:focus {
        background-color: #404bbf;
        border: none;
    }
    
    .svg-overlay {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .s-one-overlay-close:hover .svg-overlay {
        fill: #ffffff
    }
    
    .s-one-overlay-close:focus .svg-overlay {
        fill: #ffffff
    }
    
    .s-one-overlay-text {
        margin-bottom: 16px;
        
    color:#2E2F42 ;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    }
    
    .s-one-overlay-form-textarea {
        width: 360px;
     resize: none;
    }
    
    .label-one {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        display: block; 
        margin-bottom: 4px;
        display: block;
        flex-direction: column;
    }
    
    .s-one-overlay-form-div {
        margin-bottom: 8px;
    }
    
    .s-one-overlay-form-div-label {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color:#8e8f99;
        display: block;
        margin-bottom: 4px; 
    
    }
    
    .s-one-overlay-form-textnicon {
        position: relative;
    
    }
    
    .s-one-overlay-form-input {
        width: 100%;
        height: 40px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px; 
        background-color: transparent;
        padding-left: 38px;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .s-one-overlay-form-input:focus {
        border-color: #4D5AE5; 
    } 
    
    .s-one-overlay-form-input:focus + .s-one-overlay-form-input-svg {
        fill: #4D5AE5;
     }
    
    .s-one-overlay-form-input-svg {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
        fill: #2E2F42;
    }
    
    
    
    .s-one-overlay-form-div-textarea {
        margin-bottom: 16px;
    
    }
    
    
    .s-o-o-f-d-ta {
        width: 100%;
        height: 120px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        background-color: transparent;
        padding: 8px 16px;
        outline: transparent; 
        resize: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .s-o-o-f-d-ta:focus {
        border-color: #4D5AE5;
    }
    
    .s-one-overlay-form-div-checkbox {
        margin-bottom: 24px;
    }
    
    .s-one-overlay-form-div-label-dva {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color:#8e8f99;
        display: block;
    
    }
    
    
    
    .s-one-overlay-input-checkbox:checked + .s-one-overlay-form-div-label-dva > .overlay-accept-checkbox {
        background-color: #404BBF;
        border: none;
        fill: #F4F4FD
    ;
      }
    
    .overlay-accept-checkbox {
        width: 16px;
        height: 16px;
        border: 1px solid rgba(46, 47, 66, 0.4); 
        border-radius: 2px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: inline-flex; 
        align-items: center; 
        justify-content: center; 
        fill: transparent;
    }
    
    .overlay-a-checkbox {
        color: #4d5ae5; 
    }
    
    .send-commnet-button-overlay {
        display: block;
        margin: 0 auto;
        box-shadow: 0px 4px 4px 0px #00000026;
        border-radius: 4px;
        min-width: 169px;
        height: 56px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        background-color: #4D5AE5;
        border: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    @media screen and (min-width: 768px) {
        .s-one-overlay {
                width:408px ;
                min-height:584px ;
        }
    }

    
    /*first section*/

    .section-one {
        margin: 0 auto;
        max-width: 1440px;
        padding: 75px 0;
        background-color: #2E2F42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/backgroundjpg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    .section-one > .container {
        display: flex;
        flex-direction: column;
    }
    
    .section-one-mtext {
        color: #ffffff;
        font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 216px;
    margin: 0 auto 48px;

    }
    
    .section-one-button {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin: 0 auto ;
        display: block;
        cursor: pointer;
        height: 56px;
        min-width: 169px;
        border: none;
        border-radius: 4px;
        padding: 16px 32px;
        box-shadow: 0px 4px 4px 0px #00000026;
        color: #FFFFFF;
        background-color: #4D5AE5;
    }

    .section-one-button:hover {
        background-color: #31d0aa;
    }


    @media screen and (min-width: 768px) {

        .section-one {
            padding: 188px 0;
        }

        .section-one-mtext {
    
            font-size: 56px;
            font-weight: 700;
            text-align: center;
            color: #FFFFFF;
            max-width: 496px;
        }
        
    }

    /*Section two*/

    .s-two-svg {
        display: none;
    }

    .s-two-hdva {
        margin-bottom: 8px;
        color: #2E2F42;
font-weight: 700;
font-size: 36px;
line-height: 40px;
letter-spacing: 2%;
text-align: center;

    }

    .s-two-p {
        color: #434455;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 2%;

    }

    .section-two {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
    padding: 96px 0;
    }
/*
    .s-two-li:not(:last-child) {
       margin-bottom: 72px;
    }
*/
    @media screen and (min-width: 768px) {

        .s-two-ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .s-two-li {
            width: 356px;
        }

        .s-two-hdva {
        text-align: start;
        }


    }

    @media screen and (min-width: 1158px) {
        .s-two-li {
            width: calc((100% - 72px) / 4);
        }

        .s-two-p {
            font-weight: 400;
        }

        .s-two-hdva {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
        }
        
        .s-two-ul {
            gap: 24px;
            display: flex;
        }

        .s-two-svg {
            margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F4FD;
    border: 1px solid #8E8F99;
    height: 112px;
    width: 264px;
    border-radius: 4px;
        }
    }


    /*Section Three*/

    .section-three > .container {
        display: flex;
        flex-direction: column;
    }
    
    .section-three { 
        padding: 96px 0;
        background-color: #F4F4FD;
    }

    .s-three-h{
        color: #2E2F42;
        margin-bottom: 72px;
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        text-align: center;
        letter-spacing: 2%;
    }

    .s-three-ots {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
        border-radius: 0px 0px 4px 4px;
        background-color: #FFFFFF;
    }

    .s-three-ul {
        gap: 24px;
        display: flex;
        flex-direction: column;
    }

    .s-three-otctext {
        padding: 32px 0;
        font-size: 400;
    }

    .s-three-h-otc {
        color: #2E2F42;
        font-family: "Roboto", serif;
        text-align: center;
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 2%;

    }

    .s-three-p {
    
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        }

        @media screen and (min-width: 768px) {
            .s-three-ots {
                width: 264px;
            }
            

            .s-three-ul {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
            }

        }

        @media screen and (min-width: 1158px) {
            .s-three-ots {
                width: calc((100% - 72px) / 4);
            }
            

            .s-three-ul {
                
                flex-direction: row;
                flex-wrap: nowrap;
            }

            

        }

        /*Section Four*/

        .s-four-overlay {
            position: relative;
            overflow: hidden;
        }

        .section-four {
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
            padding: 96px 0;
        }

        .s-four-h {
            text-align: center;
            color: #2E2F42;
            font-weight: 700;
            font-size: 36px;
            line-height: 40px;
            letter-spacing: 2%;
            margin-bottom: 72px;
        }

        .s-four-overlay-p {
            display: none;
        }

        .s-four-ul {
            column-gap: 24px;
            row-gap: 48px;
            display: flex;
            flex-direction: column;
        }

        .s-four-ul {
            column-gap: 24px;
            row-gap: 48px;
            flex-wrap: wrap;
            display: flex;
        }
       
        
.s-four-p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #434455;
    }
        
.s-four-h-tri {
    color: #2E2F42;
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    margin-bottom: 8px
}
        
.s-four-otctext {
    border: 1px solid #e7e9fc;
    padding: 32px 16px;
    font-size: 400;
    border-top: none;
}

.s-four-ots {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 288px;
    box-shadow: 0px 1px 6px 0px #2E2F4214;

}

@media screen and (min-width: 768px) {
    .s-four-ul {
        flex-direction: row;
        display: flex;
    }

    .s-four-ots {
        width: 356px;
    
    }
}

@media screen and (min-width: 1158px) {
    .s-four-ul {
        flex-direction: row;
        display: flex;
    }

    .s-four-ots {
        width: calc((100% - 48px) / 3);
    }

    .s-four-ots:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
    }

    .s-four-ots:hover .s-four-overlay-p {
        transform: translateY(0%);
    }

    .s-four-overlay-p {
        display: block;
        position: absolute;
        top: 0; 
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#f4f4fd;
        padding: 40px 32px;
        background-color: #4d5ae5;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
}

/*Footer*/

.footer > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    padding: 96px 0;
    background-color: #2E2F42;
}

.logofooter  {
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 24px;
    font-weight: 700;
    font-family: "Raleway", serif;
    color: #4D5AE5;
}

.log-p-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 78px;
}

.p-footer {
color: #F4F4FD ;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 2%;

}

.logofooter-s {
    color: #FFFFFF;
}

.footer-sl-text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-sl {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-sl-ul {
        display: flex;
        gap: 16px;
}

.footer-sl-ul-li {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 40px;
    height: 40px;
}

.footer-sl-ul-li-a {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-sl-ul-li-svg {
    fill:#f4f4fd;
}

.footer-sl-ul-li-a:hover{
    background-color: #31d0aa;
}

.footer-sl-ul-li-a:focus {
    background-color: #31d0aa;
}

.footer-f {
    margin-top: 70px;
}

.footer-f-p {
    text-align: center;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.footer-form {
    display: flex;
    gap: 24px;
    flex-direction: column;
  align-items: center;
}

.footer-form-label-input{
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    border-color: #808080;
    border-radius: 4px; 
    color: #ffffff;
}


.footer-form-button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    min-width: 165px; 
    height: 40px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em; 
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none; 
    border-radius: 4px; 
    
    }

.footer-form-button:hover {
    background-color: #31d0aa;
}

.footer-form-button:focus {
    background-color: #31d0aa;
}

.footer-form-button-svg {
    fill: #ffffff;
    margin-left: 16px; 
}

@media screen and (min-width: 768px) {
    .s-two-ul {
        gap: 24px;
    }

   .footer > .container {
    flex-direction: row;
    width: 70% ;
    flex-wrap: wrap;
    align-items: flex-start;
   }

   .log-p-footer {
    display: block;
    width: 264px;
    margin-bottom: 0;
   }
   .footer-sl {
    display: block;
   }

   .footer-form {
    flex-direction: row;
   }

   .footer-f-p {
    text-align: left;
   }
   
}

@media screen and (min-width: 1158px) {

    .footer > .container {
        width: 100%;
        flex-wrap: nowrap;
       }

    .footer-f {
        margin: 0;
    }
    

    .log-p-footer {
        margin-right: 120px;
    }
    
    .footer-sl {
        margin-right: 80px;
    }

}

@media (min-resolution: 192dpi) {
    .section-one {
      background-image:  linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/backgroundjpgx2.jpg');
    }
  }